<div class="container">


    <h1>Check out my burgers</h1>

    <h2>Here you can click to devour a delicious burger. You can also create your own burger to be devoured!
    </h2>

    <div class="eaten">
        <h3>We already ate these burgers, click to hide the guilt!</h3>
        <ul>
            {{#each burgers}} {{#unless this.devoured}}
            <li>
                {{this.burger_name}}
                    <button class="delete-burger" data-id="{{this.id}}">SPARE ME</button>
            </li>
            {{/unless}} {{/each}}
        </ul>
    </div>

    <div class="prepared">
        <h3>Devour one of these delicious burgers!</h3>
        <ul>
            {{#each burgers}} {{#if this.devoured}}
            <li>
                {{this.burger_name}}
                    <button class="change-devoured" data-id="{{this.id}}">NOM NOM</button>
            </li>
            {{/if}} {{/each}}
        </ul>
    </div>


    <h3>Go ahead, create a burger</h3>
    <form class="cook">

        <div class="cookForms">
            <label for="cookedName">Burger Name </label>
            <input type="text" id="cookedName" name="burger_name">
        </div>

        <div class="cookForms">
            <label for="devoured">Did you eat it?</label>
            <br>
            <input type="radio" name="devoured" value="0" checked> Eaten
            <br>
            <input type="radio" name="devoured" value="1" checked> Not Eaten
        </div>

        <button type="submit">COOK MY BURGER</button>
        </form>
    </div>

</div>
