body {
    background: rgb(218, 218, 27);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
    text-align: center;
}

img {
    margin-left: 30%;
}
